.new-expense {
  background-color: #3d0dda;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 7px;
  border: 1px solid #40005d;
  background-color: #2a8b11;
  font-size: 20px;
  width: 180px;
  height: auto;
  color: rgb(255, 255, 255);
  border-radius: 12px;
  margin-right: 1rem;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #ecdd07;
  border-color: #510674;
  font-weight: bold;
  width: 180px;
  height: 40;
}

.new-expense button.alternative {
  color: #19569c;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #4d23f3;
}